#!/usr/bin/env xdg-open
[Desktop Entry]
Name=File Manager
GenericName=NewBreeze
Icon=/usr/share/matrix-gui-2.0/apps/images/newbreeze-icon.png
Type=Application
Exec=newbreeze
Categories=main
ProgramType=gui
