#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Set 600Mhz
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/power-icon.png
Type=Application
Exec=warnonpm.sh setclock600MHz.sh
Categories=power
ProgramType=console
