#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Image Viewer
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/qt-icon.png
Exec=/usr/bin/qtopia/examples/widgets/imageviewer/imageviewer
Type=Application
Categories=Qt4
ProgramType=gui
X-MATRIX-Lock=qt
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/qt_imageviewer/desc_qt_imageviewer.html

